$bg-color: #eff6fb;
$shadow-color: #dee5e9;
$default-color: #ffffff;
$invalid-color: #fc001d;

.Input {
    margin-bottom: 40px;
    position: relative;

    label {
        display: block;
        margin-bottom: 10px;
    }

    input {
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding: 10px;
        border: 1px solid #485696;
        border-radius: 20px;
        outline: none;
        background: $bg-color;
        box-shadow: inset 5px 5px 9px $shadow-color, 
            inset -5px -5px 9px $default-color;
    }

    &.invalid input {
        border: 1px solid $invalid-color;
    }

    span {
        color: $invalid-color;
        font-weight: 600;
        position: absolute;
        top: 100%;
    }
}