.Users {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f0e6ef;
    padding: 20px;
}

.Users > div > div {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.Users button {
    margin-bottom: 20px
}

.Users a {
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    background-color: #e63946;
}