$bg-color: #eff6fb;
$bg-color2: #e3ecfd;
$primary-color: #788bff;
$light-color: #ffffff;
$shadow-color: #dee5e9;
$border-color: #ddd;
$error-color: #fc001d;
$bg-error: #fcb1a68a;
$ff-primary: 'Poppins', sans-serif;

@mixin break {
  thead {
    display: none;
  }

  tr {
    display: block;
    margin-bottom: 5px;
  }

  td {
    display: block;
    position: relative;
    padding-left: 110px;
    text-align: left;
    border-bottom: 0;

    &:last-child {
      border-bottom: 1px solid $border-color;
    }

    &::before {
      content: attr(data-heading);
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: $primary-color;
      color: $light-color;
      font-weight: 700;
      padding: 0 5px;
      justify-content: center;
    }
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

.TableContainer {
  width: 100%;
  margin: 20px auto 0;
  overflow: hidden;
  border-radius: 30px;
  background: $bg-color;
  box-shadow:  -5px -5px 6px $shadow-color, 
               5px 5px 6px $bg-color;

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      background-color: $primary-color;
      color: $light-color;
      tr {
        background-color: transparent;
      }
    }

    td, th {
      border: 1px solid $border-color;
      padding: 10px;
      text-align: center;
    }

    tr {
      &:nth-child(even) {
        background-color: $bg-color2;
      }
    }
      @media (max-width: 800px) {
        @include break;
      }
  }
}

.errorMessage {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  border-radius: 10px;
  color: $error-color;
  border: 1px solid $error-color;
  background-color: $bg-error;
  text-align: center;
}